body {
    margin: 0 0 0 0;
    background-image: url(Pictures/TRGMPIC/BGKSJ.png);
    background-size: 400px 600px;
    width: auto;
    height: auto;
    text-align: -webkit-center;
}
.content {
    box-sizing: border-box;
    border: 0px solid #ff0000;
}
.grid {
    box-shadow: #ffffff 0px 0px 50px;
    border: ridge #7ea7aa7a 5px;
    background: linear-gradient(0deg, #040a0ae9 28%, #2a3336c8 49%, #383838c2 59%);
    display: inline-grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: minmax(auto) 1fr 4fr 1fr;
    grid-template-rows: minmax(100px 100px 500px 100px);
    grid-template-areas: 
    'header header header'
    'art gif title'
    'main main main'
    'footer footer footer';
}
.page-header {
    grid-area: header;
}
.page-art {
    grid-area: art;
    height: 20px;
    background-color: #000000;
    border: 2px inset gray;
    width: 130px;
    height: 100px;
    margin-left: 20px;
    
}
.page-gif {
    grid-area: gif;
    background-color: #000000;
    border: 2px inset gray;
    width: 130px;
    height: 100px;
    margin-right: 0px;
}
.page-title {
    grid-area: title;
    background-color: #000000;
    border: 2px inset gray;
    width: 180px;
    height: 100px;
    margin-right: 20px;
    display: flex;
}
.page-main {
    grid-area: main;
    text-align: left;
    width: 500px;
    height: 200px;
    padding: 10px;
}
.page-footer {
    grid-area: footer;
    height: 0px;
}
.gifksj {
    margin: 6px 0 0 65px;
    position: absolute;
}
.tt {
    position: absolute;
    margin: 55px 0 0 10px;
}
.TEXT {
    font-family: Noto Sans Lao Light;
    text-shadow: #727b85 0px 3px 10px;
    border: 0px solid white;
    margin: 53px 0 0 238px;
    width: 245px;
    font-size: 4.5px;
    position: absolute;
    color: #5d797e;
}
.cc {
    text-shadow: #3a434e 2px 4px 5px;
    margin: 35px 0 0 240px;
    font-size: 8px;
    position: absolute;
    color: #374a51;
    width: 250px;
}
h2 {
    text-shadow: #2b3842 1px 5px 5px;
    margin: 20px 0 0 235px;
    font-size: 10px;
    position: absolute;
    color: #374a51;
    width: 250px;
}
.tag {
    text-shadow: #910000b2 2px 3px 5px;
    margin: 110px 0 0 305px;
    font-size: 5px;
    position: absolute;
    color: #730000;
    width: 100px;
}
.language {
    margin: 120px 0 0 305px;
    font-size: 6px;
    position: absolute;
    width: 100px;
}
.language a {
    text-shadow: #000000 0px 0px 5px,#000000 0px 0px 5px, #000000 0px 0px 10px;
    color: #700000;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
}
.language a.active {
    text-shadow: #000000 0px 0px 5px, #000000 0px 0px 5px, #5d6a6f 0px 0px 10px, #ffffff 0px 0px 20px;
   color: #eb0000;
}
.page-title img {
    margin:  16px 114px;
    position: absolute;
}
.page-title h2 {
    font-family: Angsana New;
    margin: 5px 8px;
    font-size: 10px;
    font-style: oblique;
    color: #637c7f;
    width: 118px;
    line-height: 10px;
}
input {
    font-family: 'Courier New', Courier, monospace; font-style: oblique; font-size: 10px; font-weight: bold;
    width: 70px;
    height: 12px;
    margin: 30px 10px;
}
button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold;
    font-size: 6px;
    width: 30px;
    height: 16px;
    margin: 31px -5px;
    cursor: pointer;
}
#result {
    color: #a00000e9;
    font-size: 7px;
    height: 35px;
    width: 100px;
    margin: 55px -109px;
}
.ep a {
    text-decoration: none;
}
.ep {
    border: 0px solid white;
    display: inline-block;
    width: 80px;
    height: auto;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
}
.ep img {
    width: 60px;
    margin-top: -15px;
    box-shadow: #000000 0px 5px 10px;
    border: solid #0000004a 1px;
}
h1 {
    font-family: Noto Sans Lao Medium;
    font-size: 9px;
    text-shadow: 0 0 5px #507577;
    color: #8CB9BC;
    margin-top: 3px;
}
p {
    font-family: Noto Sans Lao Light;
    font-size: 6px;
    font-style: italic;
    text-shadow: 1px 0 5px #4A7275;
    color: #60A0A5;
    margin-top: -7px;
}
/*----- custom scrollbar ----- */
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: #000000;
}
::-webkit-scrollbar-thumb{
    background-color: #949494;
    box-shadow: inset -1px -1px #000000, inset 1px 1px #bdbdbd, inset -2px -2px #002c32, inset 2px 2px #d3d3d3;
}
::-webkit-scrollbar-corner {
    background: #202020;
}
