body {
    margin: 0 0 0 0;
    color: aliceblue;
    background-image: url(stars-galaxy.gif);
    width: auto;
    height: auto;
    text-align: -webkit-center;
}
.content {
    box-sizing: border-box;
    border: 0px solid white;
}
.grid {
    width: 500px;
    box-shadow: #8ee3ff80 0px 0px 50px;
    background: linear-gradient(0deg, #430000b1 0%, #4d4b00b3 10%, #0e4e00b4 23%, #004e4bb1 35%, #000358b4 62%, #3e0034b2 80%);
    display: inline-grid;
    column-gap: 10px;
    row-gap: 20px;
    grid-template-columns: minmax(auto) 1fr 3fr 1fr;
    grid-template-rows: minmax (100px 100px 100px);
    grid-template-areas: 
    'header header header'
    'footer footer footer'
    'main main main';
}
.page-header {
    grid-area: header;
}
.page-footer {
    grid-area: footer;
    height: auto;
}
.page-main {
    grid-area: main;
    height: 100px;
}
.bord {
    font-family: Yu Gothic Medium;
    font-size: 7px;
    width: 400px;
    color: #ffffff;
    border: #1a373eca solid 3px;
    background: linear-gradient(0deg, #44728284 0%, #000000a6 26%, #000000a5 100%);
    padding: 20px;
}
h2 {
    color: #4b6685;
    font-size: 8px;
    text-align: center;
}
.pagination {
    text-align: center;
    font-size: 15px;
}
.pagination a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}
.pagination a.active {
color: #008cff;
}
h3 {
    font-size: 35px;
    
}
/*----- custom scrollbar ----- */
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: #000000;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(0deg, #18282d 0%, #000000 100%);
    box-shadow: inset -1px -1px #000000, inset 1px 1px #1a3236, inset -2px -2px #002c32, inset 2px 2px #192c32;
}
::-webkit-scrollbar-corner {
    background: #202020;
}
